{{ if or (eq site.BaseURL "/") (eq site.BaseURL "http://localhost:1313/") }}
{{ else }}
<base href="{{ .Permalink }}" />
{{ end }}

{{ $title := site.Title }}
{{ if .Params.meta_title }}
{{ $title = .Params.meta_title }}
{{ else if .Params.title }}
{{ $title = .Params.title }}
{{ end }}

<title>{{ $title }}</title>

{{ if .Params.noindex }}
<meta name="robots" content="noindex,nofollow" />
{{ end }}

{{ with .Params.canonical }}
<link rel="canonical" href="{{ . }}" itemprop="url" />
{{ end }}

{{ if .IsTranslated }}
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}" />
{{ end }}
<link rel="alternate" hreflang="x-default" href="{{ .Permalink }}" />
{{ end }}

{{ if .Params.keywords }}
<meta name="keywords" content="{{ delimit .Params.keywords `, ` }}" />
{{ else if site.Params.metadata.keywords }}
<meta name="keywords" content="{{ delimit site.Params.metadata.keywords `, ` }}" />
{{ end }}

<meta name="description" content="{{ .Params.description | default site.Params.metadata.description }}" />

{{ with site.Params.metadata.author }}
<meta name="author" content="{{ . }}" />
{{ end }}

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ if .Params.og_title }}{{ .Params.og_title }}{{ else }}Open Neuromorphic{{ end }}" />
<meta property="og:description" content="{{ if .Params.og_description }}{{ .Params.og_description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />
<meta property="og:image" content="{{ if .Params.og_image }}{{ .Params.og_image }}{{ else }}https://open-neuromorphic.org/images/og-image.png{{ end }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="open-neuromorphic.org" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ if .Params.twitter_title }}{{ .Params.twitter_title }}{{ else }}Open Neuromorphic{{ end }}" />
<meta name="twitter:description" content="{{ if .Params.twitter_description }}{{ .Params.twitter_description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />
<meta name="twitter:image" content="{{ if .Params.twitter_image }}{{ .Params.twitter_image }}{{ else }}https://open-neuromorphic.org/images/og-image.png{{ end }}" />

{{ $imagePath := site.Params.metadata.image }}
{{ if .Params.meta_image }}
{{ $imagePath = .Params.meta_image }}
{{ else if .Params.images }}
{{ range first 1 .Params.images }}
{{ $imagePath = . }}
{{ end }}
{{ else if .Params.image }}
{{ $imagePath = .Params.image }}
{{ end }}

{{ if or (hasPrefix $imagePath "http") (fileExists (add `static/` (string $imagePath))) }}
<meta name="twitter:image" content="{{ $imagePath | absURL }}" />
<meta property="og:image" content="{{ $imagePath | absURL }}" />
{{ else }}
{{ $contentImage:= .Resources.GetMatch (printf "*%s*" $imagePath) }}
{{ $assetImage:= fileExists (add `assets/` (string $imagePath)) }}

{{ if or $contentImage $assetImage }}
{{ if $contentImage }}
{{ .Scratch.Set "image-exists" $contentImage }}
{{ else if $assetImage }}
{{ .Scratch.Set "image-exists" (resources.Get $imagePath) }}
{{ end }}

{{ $image:= .Scratch.Get "image-exists" }}

{{ $imageExt:= path.Ext $image }}

{{ if ne $imageExt `.svg` }}
{{ $imageWidth := $image.Width }}
{{ $imageHeight := $image.Height }}
{{ if (and (gt $imageWidth 144) (gt $imageHeight 144)) }}
<meta property="og:image" content="{{ $image.Permalink }}" />
<meta name="twitter:image" content="{{ $image.Permalink }}" />
<meta name="twitter:card" content="{{- if (and (gt $imageWidth 300) (gt $imageHeight 157) (not (eq $imageWidth $imageHeight))) -}}summary_large_image{{- else -}}summary{{- end -}}" />
{{ end }}
<meta property="og:image:width" content="{{ $imageWidth }}" />
<meta property="og:image:height" content="{{ $imageHeight }}" />
{{ end }}

<meta property="og:image:type" content="image/{{- if eq $imageExt `.svg` -}} svg+xml {{- else -}} {{ replaceRE `^jpg$` `jpeg` $imageExt }} {{- end -}}" />
{{ end }}
{{ end }}
<meta property="og:description" content="{{ if .Params.og_description }}{{ .Params.og_description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />

<meta name="twitter:description" content="{{ if .Params.twitter_description }}{{ .Params.twitter_description }}{{ else }}Explore the world of Neuromorphic Computing, AI, and Devices in an open-source community. Join us for educational content, and collaborative innovation{{ end }}" />

{{ with site.Params.metadata.twitter }}
<meta name="twitter:site" content="@{{ . }}" />
{{ end }}
{{ with site.Params.metadata.author }}
<meta name="twitter:creator" content="@{{ . }}" />
{{ end }}
