{{ $person := . }}
<a href="{{ $person.RelPermalink }}" class="group flex items-center gap-4 text-left p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-darkmode-theme-dark transition-colors">
  <div class="flex-shrink-0">
    {{ with $person.Params.image }}
      {{ with $person.Resources.GetMatch . }}
        <img src="{{ (.Fill "64x64").RelPermalink }}" alt="Photo of {{ $person.Title }}" class="w-16 h-16 rounded-full object-cover">
      {{ else }}
        <div class="w-16 h-16 rounded-full bg-gray-200 dark:bg-darkmode-theme-dark flex items-center justify-center">
          {{ partial "icon.html" (dict "style" "solid" "name" "user" "class" "text-2xl text-gray-400") }}
        </div>
      {{ end }}
    {{ end }}
  </div>
  <div>
    <h5 class="font-bold text-dark dark:text-darkmode-dark group-hover:text-primary dark:group-hover:text-darkmode-primary">{{ $person.Title }}</h5>
    <p class="text-xs text-text dark:text-darkmode-text">{{ .role }}</p>
  </div>
</a>